.std_label{
    text-align: left;
    margin-bottom: var(--space-xsm);
    font-size: var(--font-size-6);
}

.std_input{
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    border-radius: var(--radius-xsm);
    padding: .75rem;
    font-family: var(--text-font);
    margin-bottom: var(--space-med);
    font-size: var(--font-size-6);
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-accent);
}

.std_label_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

