# Global Options
{
	# Uncomment for testing to avoid rate limits
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# 1. Static Asset Depot
{$ASSETS_DOMAIN} {
	root * /data/shared
	file_server
	header Access-Control-Allow-Origin "*"
}

# 2. Main Website
{$ROOT_DOMAIN}, www.{$ROOT_DOMAIN} {
    reverse_proxy main-site:5173
}

# 3. Backend Admin Panel
{$ADMIN_DOMAIN} {
    reverse_proxy directus:8055
}