/* -------------------------------------------------------------------------- */
/*                               Root Variables                               */
/* -------------------------------------------------------------------------- */
:root{
    --color-background: #242424;

    --color-text:rgba(255, 255, 255, 0.87);
    --text-font:sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                               Body Formating                               */
/* -------------------------------------------------------------------------- */

body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--text-font);
}