@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@400;700&display=swap'); 

.header_background{
    display: grid;
    grid-template-columns: 6rem auto;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    background-color: var(--color-secondary);
    border-radius: 30px;
    height: 60px;
    padding: 0 20px;
 
}

.header_logo{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Tangerine', sans-serif;
    cursor: pointer;
    color: silver;
}


/* -------------------------------------------------------------------------- */
/*                               Desktop Formats                              */
/* -------------------------------------------------------------------------- */

.desktop_header_div{
    display: grid;
    grid-template-columns: auto 5.5rem;
    grid-template-rows: auto;
    width: 100%;
    margin-right: var(--space-lg);
}

.desktop_header_links{
    margin-left: var(--space-lg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop_header_links a{
    height:100%;
    display: flex;
    align-items: center;
    font-size: var(--font-size-5);
    border-radius: var(--radius-sm);
    padding: var(--space-xsm);
}

.desktop_header_links a:hover {
    background-color: var(--color-link-visited);
    color: var(--color-text);
    cursor: pointer;
}

.budget_desktop_hovered{
    background-color: var(--color-link-visited);
}

/* -------------------------------------------------------------------------- */
/*                               Mobile Formats                               */
/* -------------------------------------------------------------------------- */

.header_mobile{
    display: none;
    justify-self: end;
}

/* -------------------------------------------------------------------------- */
/*                                 Mobile View                                */
/* -------------------------------------------------------------------------- */

@media (max-width:800px){
    .desktop_header_div{
        display: none;
    }
    .header_mobile{
        display: initial;
    }
}