/* -------------------------------------------------------------------------- */
/*                             Register Formating                             */
/* -------------------------------------------------------------------------- */

.register_wrapper{
    background-color: var(--color-secondary);
    margin-left: auto;
    margin-right: auto;
    margin-top:var(--space-lg);
    width: 350px;
    border-radius: var(--radius-med);
    display: flex;
    flex-direction: column;
    padding:var(--space-med);
}

.register_wrapper h2{
    text-align: center;
}

.reg_message{
   text-align: center; 
   color: var(--color-button-danger);
}

/* -------------------------------------------------------------------------- */
/*                              Login Formatting                              */
/* -------------------------------------------------------------------------- */

.login_wrapper{
    background-color: var(--color-secondary);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-lg);
    width: 350px;
    border-radius: var(--radius-med);
    display: flex;
    flex-direction: column;
    padding: var(--space-med);
}

.login_wrapper button{
    width: 100%;
}

.login_wrapper p{
    width: 100%;
    text-align: center;
}

