/* -------------------------------------------------------------------------- */
/*  #region                         Top Page                                  */
/* -------------------------------------------------------------------------- */

.top_page_wrapper{
    display: flex;
    flex-direction: row;
    margin-top: var(--space-lg);
    width: 100%;
    height: calc(100vh - 150px - var(--space-lg));
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*#region                             Desktop Layout                          */
/* -------------------------------------------------------------------------- */

.budget_left_panel{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    padding: var(--space-sm);
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem auto;
}

.budget_right_panel{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    padding: var(--space-sm);
    margin-left: var(--space-lg);
    width: 100%;
    height: 100%;
}

.budget_desktop_layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-right: var(--space-lg);
    margin-left: var(--space-lg);
}

.budget_left_panel h6{
    text-align: left;
    margin: 0px;
    padding-left: 10px;

}

.budget_left_panel div{
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    width: 100%;
    border-radius: var(--radius-med);
}

.budget_left_panel img{
    width: 2rem;
    height: 2rem;
    justify-self: center;
}

.budget_left_panel div:hover{
    background-color: var(--color-link-visited);
}

.budget_desktop_hovered{
    background-color: var(--color-link-visited);
}

.budget_desktop_not_selected{
    display: none;
}

.budget_desktop_selected{
    display: contents;
}



/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                         Desktop Cat                                */
/* -------------------------------------------------------------------------- */

.cat_desktop_add_items{
    display: grid;
    grid-template-columns: .25fr auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.cat_desktop_add_items input{
    margin: 0px;
}

.cat_desktop_add_items button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cat_button{
    min-width: 30px!important;
    background-color: transparent;
}

.standard-table.cat_table tr td:nth-child(1),
.standard-table.cat_table tr td:nth-child(2){
    width: 30%!important;
}

.standard-table.cat_table tr td:nth-child(3),
.standard-table.cat_table tr td:nth-child(4){
    width: 50%!important;
    text-align: left;
}

.standard-table.cat_table tr th:nth-child(3),
.standard-table.cat_table tr td:nth-child(5){
    width: 16%!important;
    text-align: center;
}

.cat_desktop_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cat_list_display{
    flex: 1;           /* Grow to fill the space left by the inputs */
    display: flex;          
    flex-direction: column; 
    min-height: 0;     /* Critical to prevent overflow */
}

.table-container{
    flex: 1;                
    overflow-x: hidden;
    overflow-y: auto;   
    min-height: 0;          
    width: 100%;
    border-radius: var(--radius-lg);
}

.cat_desktop_selected_off{
    display: none;
}

.cat_desktop_selected_on{
  
}

/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                        Mobile Layout                               */
/* -------------------------------------------------------------------------- */

.budget_mobile_layout{
    display: none;
}

.budget_mobile_top{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 10%;
}

.budget_mobile_middle{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 80%;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
}

.budget_mobile_bottom{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 10%;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                    Screen Size Controls                            */
/* -------------------------------------------------------------------------- */

@media (max-width:950px){
    .budget_desktop_layout{
        display: none;
    }

    .budget_mobile_layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-right: var(--space-sm);
        margin-left: var(--space-sm);

    }

}
/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                    Desktop Budget Panel                            */
/* -------------------------------------------------------------------------- */

.budget_desktop_add{
    display: grid;
    grid-template-columns: auto 20% 20% 20%;
    grid-template-rows: auto auto auto;
    gap:10px;
    justify-content: center;
}

.budget_desktop_add select {
    width: 100%;
    height: 44px;
}

.budget_desktop_add input{
    margin-bottom: 0px;
}

.budget_desktop_add button {
    grid-column-start: 1;
    grid-column-end: 6;
}

.monthly_budget_footer{
    background-color: black;
}

.monthly_budget_footer tr td:nth-child(1){
    text-align: right;
}

.standard-table.monthly_budget_table tr th:nth-child(1){
    width: auto;
}

.standard-table.monthly_budget_table tr th:nth-child(2){
    width: 20%;
}

.standard-table.monthly_budget_table tr th:nth-child(3){
    width: auto;
}

.standard-table.monthly_budget_table tr th:nth-child(4){
    width: 15%;
}

.standard-table.monthly_budget_table input {
    width: 100%;
    margin: 0px;
}

.standard-table.monthly_budget_table select {
    width: 100%;
    margin: 0px;
}

.budget_desktop_display {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    border-radius: var(--radius-med);
    margin-bottom: 10px;
}

.budget_desktop_container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.budget_desktop_footer *{
    margin:0px;
    padding: 10px;
    text-align: center;
    background-color: var(--color-background);
    border-radius: var(--radius-med);
}

.monthly_budget_title{
    text-align: center;
    padding: 10px;
    margin: 0px;
    background-color: olivedrab;
}

/* #endregion */