/* -------------------------------------------------------------------------- */
/*  #region                         Top Page                                  */
/* -------------------------------------------------------------------------- */

.top_page_wrapper{
    display: flex;
    flex-direction: row;
    margin-top: var(--space-lg);
    width: 100%;
    height: calc(100vh - 150px - var(--space-lg));
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    min-width: 950px;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/*#region                             Desktop Layout                          */
/* -------------------------------------------------------------------------- */

.budget_left_panel{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    padding: var(--space-sm);
    height: 100%;
    width: 20%;
    display: grid;
    grid-template-rows: 2rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem auto;
}

.budget_right_panel{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    padding: var(--space-sm);
    margin-left: var(--space-lg);
    width: 100%;
    height: 100%;
}

.budget_desktop_layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-right: var(--space-lg);
    margin-left: var(--space-lg);
}

.budget_left_panel h6{
    text-align: left;
    margin: 0px;
    padding-left: 10px;

}

.budget_menu_item{
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    width: 100%;
    border-radius: var(--radius-med);
}

.budget_left_panel img{
    width: 2rem;
    height: 2rem;
    justify-self: center;
}

.budget_menu_item:hover{
    background-color: var(--color-link-visited);
}

.budget_desktop_hovered{
    background-color: var(--color-link-visited);
}

.budget_desktop_not_selected{
    display: none;
}

.budget_desktop_selected{
    display: contents;
}



/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                         Collapsed Sidebar                          */
/* -------------------------------------------------------------------------- */

.budget_left_panel.collapsed {
    width: 50px;
    padding: 0px;
    grid-template-rows: 2rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem auto;
    grid-template-columns: 100%;
    overflow: hidden;
}

.budget_left_panel.collapsed .budget_menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.budget_left_panel.collapsed h6 {
    display: none;
}

.budget_left_panel.collapsed img {
    width: 1.5rem;
    height: 1.5rem;
}

.collapse_toggle_container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    /* grid-column: 1 / -1; */
}

.budget_left_panel.collapsed .collapse_toggle_container {
    justify-content: center;
}

.collapse_toggle_btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0 5px;
}

.collapse_toggle_btn:hover {
    color: var(--color-primary);
}

/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                         Desktop Cat                                */
/* -------------------------------------------------------------------------- */

.cat_desktop_add_items{
    display: grid;
    grid-template-columns: .25fr auto;
    grid-template-rows: auto auto;
    gap: 10px;
}

.cat_desktop_add_items input{
    margin: 0px;
}

.cat_desktop_add_items button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cat_button{
    min-width: 30px!important;
    background-color: transparent;
}

.standard-table.cat_table tr td:nth-child(1),
.standard-table.cat_table tr td:nth-child(2){
    width: 30%!important;
}

.standard-table.cat_table tr td:nth-child(3),
.standard-table.cat_table tr td:nth-child(4){
    width: 50%!important;
    text-align: left;
}

.standard-table.cat_table tr th:nth-child(3),
.standard-table.cat_table tr td:nth-child(5){
    width: 16%!important;
    text-align: center;
}

.cat_desktop_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cat_list_display{
    flex: 1;           /* Grow to fill the space left by the inputs */
    display: flex;          
    flex-direction: column; 
    min-height: 0;     /* Critical to prevent overflow */
}

.table-container{
    flex: 1;                
    overflow-x: hidden;
    overflow-y: auto;   
    min-height: 0;          
    width: 100%;
    border-radius: var(--radius-lg);
}

.cat_desktop_selected_off{
    display: none;
}

.cat_desktop_selected_on{
  
}

/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                        Mobile Layout                               */
/* -------------------------------------------------------------------------- */

.budget_mobile_layout{
    display: none;
}

.budget_mobile_top{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 10%;
}

.budget_mobile_middle{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 80%;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
}

.budget_mobile_bottom{
    background-color: var(--color-secondary);
    border-radius: var(--radius-med);
    width: 100%;
    height: 10%;
}
/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                    Screen Size Controls                            */
/* -------------------------------------------------------------------------- */

@media (max-width:950px){
    .budget_desktop_layout{
        display: none;
    }

    .budget_mobile_layout{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-right: var(--space-sm);
        margin-left: var(--space-sm);

    }

}
/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                    Desktop Budget Panel                            */
/* -------------------------------------------------------------------------- */

.budget_desktop_add{
    display: grid;
    grid-template-columns: auto 20% 20% 20%;
    grid-template-rows: auto auto auto;
    gap:10px;
    justify-content: center;
}

.budget_desktop_add select {
    width: 100%;
    height: 44px;
}

.budget_desktop_add input{
    margin-bottom: 0px;
}

.budget_desktop_add button {
    grid-column-start: 1;
    grid-column-end: 6;
}

.monthly_budget_footer{
    background-color: black;
}

.monthly_budget_footer tr td:nth-child(1){
    text-align: right;
}

.standard-table.monthly_budget_table tr th:nth-child(1){
    width: auto;
}

.standard-table.monthly_budget_table tr th:nth-child(2){
    width: 20%;
}

.standard-table.monthly_budget_table tr th:nth-child(3){
    width: auto;
}

.standard-table.monthly_budget_table tr th:nth-child(4){
    width: 15%;
}

.standard-table.monthly_budget_table input {
    width: 100%;
    margin: 0px;
}

.standard-table.monthly_budget_table select {
    width: 100%;
    margin: 0px;
}

.budget_desktop_display {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    border-radius: var(--radius-med);
    margin-bottom: 10px;
}

.budget_desktop_container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.budget_desktop_footer *{
    margin:0px;
    padding: 10px;
    text-align: center;
    background-color: var(--color-background);
    border-radius: var(--radius-med);
}

.monthly_budget_title{
    text-align: center;
    padding: 10px;
    margin: 0px;
    background-color: olivedrab;
}

/* #endregion */
/* -------------------------------------------------------------------------- */
/* #region                        Desktop Transactions                        */
/* -------------------------------------------------------------------------- */

.trans_desktop_add{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap:10px;
    justify-content: center;
    align-items: center;    
}

.standard-table.double-row input{
    margin: 0px;
}

.standard-table.double-row label{
    text-align: center; 
}

/* Double Row Striping */
.standard-table.double-row tbody tr:nth-of-type(odd) {
    background-color: transparent; /* Reset default odd striping */
}

.standard-table.double-row tbody tr:nth-of-type(even) {
    background-color: transparent; /* Reset default even striping */
}

/* Stripe the first two rows of every 4 (1st & 2nd) */
.standard-table.double-row tbody tr:nth-child(4n+1),
.standard-table.double-row tbody tr:nth-child(4n+2) {
    background-color: var(--color-secondary);
}

/* Stripe the next two rows of every 4 (3rd & 4th) */
.standard-table.double-row tbody tr:nth-child(4n+3),
.standard-table.double-row tbody tr:nth-child(4n+4) {
    background-color: var(--color-background);
}


.standard-table.double-row {
    table-layout: fixed;
}

.standard-table.double-row tr td{
    padding: 5px;
}

.standard-table.double-row tr th{
    padding: 5px;
}



/* #endregion */
