button{
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
    min-width: 100px;
    font-size: var(--font-size-6);
    border:none;
}

.primary_button{
    background-color: var(--color-button-primary);
} 

.close_button{
    background-color: var(--color-button-danger);
}

